.confirmation {
    display: flex;
    flex-direction: column;
    margin: 40px;
    border: 1px solid grey;


    &__header {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 25px;
     }

     &__container {
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        padding-left: 12%;
        padding-top: 20px;
        padding-bottom: 5px;
        font-weight: 600;
        color: grey;
    }

    &__info {
        padding-left: 20%;
        padding-bottom: 15px;
    }
    
}


@media all and (min-width: 650px) {
    .confirmation {
        margin: 15%;
    
    
        &__header {
            padding: 40px;
         }
    
         &__container {

        }
        
        &__item {
            padding-left: 20%;
            padding-top: 40px;
            padding-bottom: 10px;

        }
    
        &__info {
            padding-left: 25%;
            padding-bottom: 40px;
        }
        
    }
}


@media all and (min-width: 999px) {
    .confirmation {

    
    
        &__header {

         }
    
         &__container {

        }
        
        &__item {
            padding-left: 30%;
            padding-top: 40px;
            padding-bottom: 10px;

        }
    
        &__info {
            padding-left: 35%;
            padding-bottom: 40px;
        }
        
    }
}