
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 1.3rem;
    padding-left: 15px;
    margin-top: 30px;
}

h2 {
    
    font-size: 1.1em;
    font-weight: 900;
}

